## Chargement des donnees

In [11]:
import numpy as np
import pandas as pd
import ast
import matplotlib.pyplot as plt

from ast import literal_eval as l_eval

In [12]:
types = {'rho_expr':str, 'E_u_expr':str, 'E_l_expr':str, 'E_d_expr':str, 'E_r_expr':str}
converters={'rho':l_eval, 'E_u':l_eval, 'F_u':l_eval, 'T_u':l_eval, 'E_d':l_eval, 'F_d':l_eval, 'T_d':l_eval, 'E_l':l_eval, 'F_l':l_eval, 'T_l':l_eval, 'E_r':l_eval, 'F_r':l_eval, 'T_r':l_eval}

df_0 = pd.read_csv("../../data/data/df_rho.csv", thousands=',', dtype=types, converters=converters)

# display(df_0.columns)
df_0.head(2)

longueur = 108

,x_min,x_max,y_min,y_max,N,M,c,a,C_v,CFL,...,T_u,E_d,F_d,T_d,E_l,F_l,T_l,E_r,F_r,T_r
0,0,1,0,1,90,90,299,0.01372,0.14361,0.5,...,"[[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,...","[[8.575, 8.575, 8.575, 8.575, 8.575, 8.575, 8....","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,...","[[8.575, 8.575, 8.575, 8.575, 8.575, 8.575, 8....","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,...","[[8.575, 8.575, 8.575, 8.575, 8.575, 8.575, 8....","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,..."
1,0,1,0,1,90,90,299,0.01372,0.14361,0.5,...,"[[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,...","[[8.575, 8.575, 8.575, 8.575, 8.575, 8.575, 8....","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,...","[[8.575, 8.575, 8.575, 8.575, 8.575, 8.575, 8....","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,...","[[8.575, 8.575, 8.575, 8.575, 8.575, 8.575, 8....","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,..."

In [14]:
""" test de ce batch de donnees """

print("longueur de la dataframe =", len(df_0))
print("1er rho =", df_0.loc[0, "rho_expr"])

rho = crenau(0.2,0.2,0.1,10)

## Ecriture au format 'parquet'

- PART 1: la hauteur vaut 1, et on 9 positions [0.2, 0.5, 0.8] x [0.2, 0.5, 0.8] et 12 sources
- PART 2: la hauteur vaut 10, et on 9 positions [0.2, 0.5, 0.8] x [0.2, 0.5, 0.8] et 12 sources
- PART 3: la hauteur vaut 4, et on 9 positions [0.35, 0.5, 0.65] x [0.35, 0.5, 0.65] et 12 sources

In [15]:
df_0.to_parquet('../../data/parquet/df_rho_part3.pqt')

C:\Users\Roussel\miniconda3\lib\site-packages\pyarrow\pandas_compat.py:383: FutureWarning: RangeIndex._start is deprecated and will be removed in a future version. Use RangeIndex.start instead
  'start': level._start,
C:\Users\Roussel\miniconda3\lib\site-packages\pyarrow\pandas_compat.py:384: FutureWarning: RangeIndex._stop is deprecated and will be removed in a future version. Use RangeIndex.stop instead
  'stop': level._stop,
C:\Users\Roussel\miniconda3\lib\site-packages\pyarrow\pandas_compat.py:385: FutureWarning: RangeIndex._step is deprecated and will be removed in a future version. Use RangeIndex.step instead
  'step': level._step

## Essai de lecture

In [16]:
df_1 = pd.read_parquet('../../data/parquet/df_rho_part3.pqt')

df_1.head(2)

,x_min,x_max,y_min,y_max,N,M,c,a,C_v,CFL,...,T_u,E_d,F_d,T_d,E_l,F_l,T_l,E_r,F_r,T_r
0,0,1,0,1,90,90,299,0.01372,0.14361,0.5,...,"[[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0,...","[[8.575, 8.575, 8.575, 8.575, 8.575, 8.575, 8....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0,...","[[8.575, 8.575, 8.575, 8.575, 8.575, 8.575, 8....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0,...","[[8.575, 8.575, 8.575, 8.575, 8.575, 8.575, 8....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0,..."
1,0,1,0,1,90,90,299,0.01372,0.14361,0.5,...,"[[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0,...","[[8.575, 8.575, 8.575, 8.575, 8.575, 8.575, 8....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0,...","[[8.575, 8.575, 8.575, 8.575, 8.575, 8.575, 8....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0,...","[[8.575, 8.575, 8.575, 8.575, 8.575, 8.575, 8....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0,..."